@charset "utf-8";

body{
	line-height:1.8;
	text-align:center;
	font-family: "ＭＳ Ｐゴシック", sans-serif;
	font-style:normal;
	background:#F5F5D7 url("../img/bgImg.gif") repeat-x ;
	letter-spacing:0.005em;
}

body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

img {
    border: 0;
}
/* ベースフォントサイズ
------------------------------------- */
body,h1,h2,h3,h4,h5,h6 {
	font-size: 13px;/* モダンブラウザ向け */
	*font-size: 81.25%; /* IE 7向け */
	_font-size: 81.25%; /* IE 6以下 */
}
/* IE 6 or sooner
* html body {
	font-size: 81.25％;
}*/

table {
	font-size:inherit;
	font:100%;
}

/*****************************************************
●common
*****************************************************/
/* company Logo
------------------------------------- */
#companyLogo, #companyLogo a{
	height:54px;
	width:200px;
	background:url("../img/logo.gif") no-repeat;
	padding:0;
}

#companyLogoJP, #companyLogoJP a{
	height:14px;
	width:102px;
	background:url("../img/logoJP.gif") no-repeat;
	padding:0;
}

#companyLogo, #companyLogoJP{	margin-top:11px;}
#companyLogo a ,#companyLogoJP a {display: block;}

#companyLogo{float:left;}
#companyLogoJP{float:right;}
	

/* コンテナ
------------------------------------- */
#container{
	clear:both;
	width:760px;
	text-align: left; 
	margin:0 auto;
}

/* リンク
------------------------------------- */
a{outline: none;}

a:link, a:visited{
	color: #921D21;
	text-decoration: underline;	
}

a:active, a:hover{
	color: #BA6D70;
	text-decoration: underline;
}

/* 文字
------------------------------------- */
h1, h2, h3{
	text-indent: -9999px;
}

h2{
	margin-bottom: 0.6em;
	height:20px;
}

h4{
	border-top:#000 1px dotted;
	border-bottom:#000 2px solid;
	font-size:14px;
	margin-bottom:10px;
}

h5{
	font-size:14px;
}


/* その他
------------------------------------- */
.bottom10{
	margin-bottom:1em;
}

.bottom20{
	margin-bottom:2.5em;
}

.outlineList{
	clear:both;
	margin:1em 0;
}

.outlineList2{
	clear:both;
	margin:1em 0 1.4em 0;
}


.bgBlack{
	float:left;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	width:140px;
		line-height:1.1;
	padding:0.1em 0 0.1em 1em;
}

.outlineListText{
	padding-left:165px;
	line-height:1.5;
}

/* ページの先頭へ
------------------------------------- */
#pageTop {
	position: fixed;
	bottom: 30px;
	right:0;
	_position: absolute; /* IE 6*/
	_bottom: auto;
	_clear: both;
	_top:expression(eval(document.compatMode &&
		document.compatMode=='CSS1Compat') ?
		documentElement.scrollTop
		+(documentElement.clientHeight-this.clientHeight) - 30
		: document.body.scrollTop
		+(document.body.clientHeight-this.clientHeight) - 30);
}

/*****************************************************
●header
*****************************************************/
#header{
	height:70px;
}

/*****************************************************
●main_container
*****************************************************/
#main_container{
	margin-top:20px;
	background:url("../img/mainBgImg.gif") repeat-y ;
	float:left;
}

/*****************************************************
●left_container
*****************************************************/
#left_container{
	width: 200px;
	float: left;
	padding-bottom:20px;
	margin-right:37px;
}

/* main navi */
#navi{
	padding-bottom:12px;
	margin-bottom:8px;
	overflow: hidden;
	border-bottom: solid 2px #000;
	border-top: solid 2px #000;
	background:#F5F5D7;
}

#navigation ul{
	list-style: none;
}

#navigation ul li, #navigation ul li a{
	width: 200px;
	height: 48px;
}

#navigation ul li a{
	display: block;
}

#navigation ul li.n_message a{
	background: url("../img/n_message.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_services a{
	background: url("../img/n_services.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_companyInfo a{
	background: url("../img/n_companyInfo.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_achievements a{
	background: url("../img/n_achievements.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_clients a{
	background: url("../img/n_clients.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_products a{
	background: url("../img/n_products.gif") left top no-repeat;
	text-indent: -100em;
}

#navigation ul li.n_recruit a{
	background: url("../img/n_recruit.gif") left top no-repeat;
	text-indent: -100em;
}


#navigation ul li a:hover{

	background-position: 0 -48px;

}

/*****************************************************
●right_container
*****************************************************/
#right_container{
	width: 520px;
	float: right;
	background-color:#F5F5D7;
	padding-bottom:20px;
}

h2.menuTitle01{ background: url("../img/h_message.gif") no-repeat top left;}
h2.menuTitle02{ background: url("../img/h_services.gif") no-repeat top left;}
h2.menuTitle03{ background: url("../img/h_companyInfo.gif") no-repeat top left;}
h2.menuTitle04{ background: url("../img/h_achievements.gif") no-repeat top left;}
h2.menuTitle05{ background: url("../img/h_clients.gif") no-repeat top left;}
h2.menuTitle06{ background: url("../img/h_products.gif") no-repeat top left;}
h2.menuTitle07{ background: url("../img/h_recruit.gif") no-repeat top left;}

#right_container ul{
list-style:disc inside;
}

/*****************************************************
●footer
*****************************************************/
#footer{
	border-top: solid 2px #000;
	clear:both;
}

#right_container ul.requirements {
	list-style-type: disc;
}

#right_container ul.requirements li ul {
	margin: 0 0 0 2em;
	padding: 0;
	list-style-type: circle;
}


/*****************************************************
●twitter timelines
*****************************************************/
#twi_timelines{
	margin:10px 0;
	border-top: solid 1px #000;
}