@charset "utf-8";

*{
	background-color: #FFFFFF;
}


body {
	font-size: 12pt;
	color: #000000;
	background-color: #FFFFFF;
}

a:link,
a:visited {
	text-decoration: underline;
	color: #000000;
}

#navigation,
#pageTop{
	display: none;
	visibility:hidden;

	}